<div class="card rouded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div *ngIf="this.estadoAdicionar" class="form-group col-md-6">
          <label>Produto</label>
          <select class="form-select form-control is-invalid"
          (change)="mudaProdutoPedido($event)"
          [ngClass]="{'is-invalid': f.prodPedido.errors && f.prodPedido.touched}"
          formControlName="prodPedido">
           <option value="" disabled>Escolha um produto</option>
           <option *ngFor="let prod of produtos" [value]="prod.id">{{prod.descricao}}</option>
          </select>
          <div *ngIf="f.prodPedido.errors?.required" class="invalid-feedback">
            Escolha um produto para continuar.
          </div>
        </div>
        <div *ngIf="!this.estadoAdicionar" class="form-group col-md-6">
          <label>Produto</label>
          <input type="text" class="form-control is-invalid"
          [ngClass]="{'is-invalid': f.produto.errors && f.produto.touched}"
          formControlName="produto"
          value="{{pedido.produto?.descricao}}">
          <div *ngIf="f.produto.errors?.required" class="invalid-feedback">
            Escolha um produto para continuar.
          </div>
        </div>

        <div *ngIf="this.estadoAdicionar" class="form-group col-md-6">
          <label>Aluno</label>
          <select class="form-select form-control is-invalid"
          (change)="mudaAlunoPedido($event)"
          [ngClass]="{'is-invalid': f.alunoPedido.errors && f.alunoPedido.touched}"
          formControlName="alunoPedido">
           <option value="" disabled>Escolha um aluno</option>
           <option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</option>
          </select>
          <div *ngIf="f.alunoPedido.errors?.required" class="invalid-feedback">
            Escolha um aluno para continuar.
          </div>
        </div>
        <div *ngIf="!this.estadoAdicionar" class="form-group col-md-6">
          <label>Aluno</label>
          <input type="text" class="form-control is-invalid"
          [ngClass]="{'is-invalid': f.aluno.errors && f.aluno.touched}"
          formControlName="aluno"
          value="{{pedido.aluno?.nome}}">
          <div *ngIf="f.aluno.errors?.required" class="invalid-feedback">
            Escolha um aluno para continuar.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Forma Pagamento</label>
          <select class="form-select form-control"
          formControlName="formaPagamento">
           <option value="Cartão de crédito">Cartão de crédito</option>
           <option value="Pix">Pix</option>
           <option value="Cartão de débito">Cartão de débito</option>
           <option value="Dinheiro">Dinheiro</option>
           <option value="Boleto">Boleto</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label>Data pedido</label>
          <input type="datetime" class="form-control"
           value="{{pedido.dataPedido | DateTimeFormatPipe}}"
           formControlName="dataPedido"
           bsDatepicker [bsConfig]="{
             isAnimated: true,
             dateInputFormat: 'DD/MM/YYYY'}">
        </div>
        <div class="form-group col-md-3">
          <label>Plano</label>
          <select class="form-select form-control"
          formControlName="plano">
          <option value="Plano Individual">Plano Individual</option>
           <option value="Plano em grupo">Plano em grupo</option>
           <option value="Plano instrutores">Plano instrutores</option>
           <option value="Plano business">Plano business</option>
           <option value="Plano Imersão">Plano Imersão</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Meses</label>
          <input type="text" class="form-control is-invalid"
          [ngClass]="{'is-invalid': f.quantidade.errors && f.quantidade.touched}"
          formControlName="quantidade" placeholder="">
          <div *ngIf="f.quantidadeerrors?.required" class="invalid-feedback">
            Quantidade do produto é obrigatório.
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="cancelarPedido()">
          Cancelar
        </button>
        <button class="btn btn-success" (click)="salvarPedido()">
         <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Inserir Pedido
        </button>
      </div>
    </div>
  </form>
  </div>

