<div class="card rouded shadow-sm">
  <form >
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nome Professor</label>
          <input type="text" class="form-control" placeholder="Insira o Nome professor">
        </div>
        <div class="form-group col-md-6">
          <label>Email Professor</label>
          <input type="text" class="form-control" placeholder="Insira o Email professor">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Status</label>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label>Cnpj</label>
          <input type="datetime" class="form-control" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label>Data Inicio</label>
          <input type="datetime" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Telefone Celular</label>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label>Usuario Plataforma</label>
          <input type="text" class="form-control" placeholder="(000) 90000-0000">
        </div>
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="e-mail">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          Salvar Evento
        </button>
      </div>
    </div>
  </form>

</div>

